.container {
    border-radius: 2px;
    padding: 10px;
    min-height: 800px;
}

.navbar-bg-grey {
    background-color: rgba(128, 128, 128, 0.12);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #80787c;
}

.nav-pills>li>a {
    color: #262b2f;
}

#nav-sidebar ul {
    background-color: #f8f8f8;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
}

#nav-sidebar ul li {
    margin: 8px 0 0 14px;
    text-align: center;
}

#content {
    float: left;
    background-color: #fff;
    margin-left: 10px;
    min-height: 800px;
    border-radius: 2px;
}

.active-user {
    background: red;
}

.left-msg {
    float: left;
    width: 255px;
    background: blue;
}

.right-msg {
    float: right;
    width: 255px;
    background: green;
}

.right-msg-board {
    float: right;
    width: 90%;
    background: #eff5fb;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 100%;
    margin-top: 5px;
}

.left-msg-board {
    float: left;
    width: 90%;
    background: #f2f3ff;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

#contacts-window ul li.new-msg {
    background: #19bd45;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.5; }
}

#message-window {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 70px;
}

#message-window p {
    margin-right: 5px;
}

#messages {
    margin-top: 20px;
}

#text-window button {
    width: 100%;
    margin-top: 10px;
}

#contacts-window ul li {
    float: left;
    display: block;
    list-type-style: none;
    width: 49%;
    font-weight: bold;
    text-align:center;
    margin: 2px;
    background-color: #eaeaea;
    padding: 5px;
}

#contacts-window ul li:hover {
    background-color: #cdcece;
    cursor: pointer;
}