<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="//blueimp.github.io/JavaScript-MD5/js/md5.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/static/js/login.js"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/init.js"></script>
</head>
<body style="background-color:#f8f8f8;">
    <nav class="navbar navbar-default navbar-bg-grey">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/static/images/logo.png" />
                </a>
            </div>
            {% if current_user is not None %}<span style="float:right; margin:20px"><a href="/logout">Logout</a></span>{% end %}
        </div>
    </nav>
    <div class="container">
        {% block body_template %}{% end %}
    </div>
</body>
</html>