{% extends "layout.html" %}
{% block action_template %}
    <h1 style="text-align:center;">Social board</h1>
    <form method="post" action="/messages?user={{ current_user }}">
        <div class="form-group">
            <label for="message" style="width:100%; text-align:center">Write your thoughts on board - everyone can look at it !</label>
            <textarea class="form-control" id="message" name="message" required></textarea>
        </div>
        <div>
            <button style="width:100%;" type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    <div>
        {% for data in board_messages %}
        <div {% if data['login'] == current_user %} class="right-msg-board" {% else %} class="left-msg-board" {% end %}>
            <span style="font-weight:bold;">{{ data['login'] }}</span><span style="float:right;">{{ data['add_date'].strftime("%Y-%m-%d %H:%M:%S") }}</span>
            <p style="border-top: 1px solid #b4b5b7">{{ data['message'] }}</p>
        </div>
        {% end %}
    </div>
{% end %}
