{% extends "base.html" %}
{% block body_template %}
    <nav class="navbar navbar-default navbar-bg-blue">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!--<img alt="Brand" src="...">-->
                    Logo
                </a>
            </div>
        </div>
    </nav>
    <div id="nav-sidebar">
        <ul class="nav nav-pills nav-stacked col-xs-3">
            <li role="presentation" class="active"><a href="/?user={{ current_user }}">Home</a></li>
            <li role="presentation"><a href="/profile/edit?user={{ current_user }}">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
    <div id="content" class="col-xs-9">
        {% block action_template %}{% end %}
    </div>
{% end %}
