{% extends "base.html" %}
{% block body_template %}
<div class="center-block" style="width:400px;">
    <h1>Welcome at new portal !</h1>
    <form method="post">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="Login" name="login" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success center-block">Login</button>
    </form>
</div>
{% end %}